header {
    font-size: 70px;
    margin: 0 0 20px 0;
}

header h1 {
    margin: 0;
}

.error_404-main {
    font-size: 25px;
    margin: 0;
    margin-bottom: 60px;
}

.error_404-page {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
