.message-editor-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #999;
    margin: 10px;
    padding: 5px;
    align-items: center;
}

.message-editor-container > * {
    padding: 5px;
}

.message-editor {
    flex: 1 1 auto;
    padding: 0 5px;
}

#message {
    width: 100%;
    height: 36px;
    padding: 10px;
}

#message-send {
    border-radius: 100px;
    color: #fff !important;
}

.message-form {
    display: contents;
}
