.profile-sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: solid rgb(235, 235, 235) 2px;
    text-align: center;
}

.profile-main {
    margin-left: 100px; 
    padding: 0px 10px;
}
