.custom-dialog  {
    background-color: #fff;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 15px;
    outline: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.custom-dialog .modal-header {
    align-items: center;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid #999;
}

.custom-dialog .modal-content {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    text-align: center;
    padding: 10px;
}

.custom-dialog .modal-footer {
    padding: 10px;
    border-top: 1px solid #999;
}

.custom-dialog .buttons-container {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
}

.custom-dialog .buttons-container > * {
    padding: 0 10px;
    margin: auto 10px;
    height: 32px;
}
